
body{
text-align: center;
    background: url('src/pics/bg.png') no-repeat center center fixed; 
  background-size: cover;

}

a:link { color:orange; text-decoration: none; }
a:visited{color:orange; text-decoration: none;}
a:hover { color:orange; text-decoration: none; }
a:active { color:white; text-decoration: underline;}
textarea{
    border: 1px solid brown;
    border-radius: 4px;

    overflow: hidden;
      border: brown 1px solid;
      -webkit-border-radius: 3px;
      border-radius: 3px;
      -webkit-box-shadow: inset 0px 0px 10px 1px brown;
  box-shadow: inset 0px 0px 10px 1px brown;
}
.myButton {
	background:-webkit-gradient(linear, left top, left bottom, color-stop(0.05, #DF7401), color-stop(1, yellow));
	background:-moz-linear-gradient(top, #DF7401 5%, yellow 100%);
	background:-webkit-linear-gradient(top, #DF7401 5%, yellow 100%);
	background:-o-linear-gradient(top, #DF7401 5%, yellow 100%);
	background:-ms-linear-gradient(top, #DF7401 5%, yellow 100%);
	background:linear-gradient(to bottom, #DF7401 5%, yellow 100%);
	background-color:#FFFF00;
	-moz-border-radius:4px;
	-webkit-border-radius:4px;
	border-radius:4px;
	border:1px solid brown;
	display:inline-block;
	cursor:pointer;
	color:brown;
	font-size:13px;
	font-weight:bold;
	padding:6px 12px;
	text-decoration:none;
}

.myButton:active {
	position:relative;
	top:1px;
}
.style{
    background-color: yellow;
    border: 1px solid brown;
    border-radius: 4px;
       overflow: hidden;
      width: 170px;
  height: 28px;
      -webkit-border-radius: 3px;

      -webkit-box-shadow: inset 0px 0px 10px 1px brown;
  box-shadow: inset 0px 0px 10px 1px brown;
    
}
